
.testimonial-card-text {
    padding: 0 120px;
    font-size: 14px; 
    text-align: center; 
    margin-top: 15px;
    line-height: 1.6; 
    color: #838383;
    font-weight: 600;
  }
  
  .testimonial-card-author {
    font-weight: 700 !important;
    font-size: 18px ;
  }
  

  .testimonial-card-img {
    width: 100px !important; 
    height: 100px !important; 
    border-radius: 50% !important; 
    object-fit: cover !important;
    margin: 0 auto 15px !important;
  }
 
  .carousel, .carousel-item, .carousel-control-prev, .carousel-control-next {
    border: none !important; 
    box-shadow: none !important; 
  }
  @media (max-width: 768px) {
    .testimonial-card-text {
      font-size: 0.95rem;
      padding: 0 50px;
    }}