@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


:root{
  --primary-font : 'Outfit', sans-serif;
  --white-color :#ffffff
}
  .body{
    font-family: var(--primary-font) ;
  }
  .custom-container {
    max-width: 1100px !important;
  }

* {
  margin:
0;
  padding:
0;
  box-sizing: border-box;
}
